.video {
    width: 100vw;    /* 100% of viewport width */
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


.video video{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 100%;
    min-height: 100%;
}


@media screen and (max-width: 600px) {
    .video video{
        height: 100%;
        width: auto;
    }
}

.app{
    display: grid;
}